@page
@model RapidNewsReportWebApp.Pages.Reports.EditModel
@{
}

Edit Report 

<p></p>The Report Id is : @Model.reportId;

<p>@Model.myReport.Category</p>
<p>@Model.myReport.CreatedBy</p>
<p>@Model.myReport.Title</p>
<p>@Model.myReport.Content</p>