@page
@model RapidNewsReportWebApp.Pages.Reports.EditModel
@{
}

<div class="mt-5">

	<h1>Edit News Report</h1>

    <hr/>

	    @if(TempData["FormResult"] != null)
	    {
		    <div class="alert alert-success" role="alert">@TempData["FormResult"]</div>
	    }

        <form method="post">

	     <span asp-validation-for="myReport.Title" class="text-danger"></span>        
            <div class="mb-3">
              <label asp-for="myReport.Title" class="form-label">Report Title</label>
             <input asp-for="myReport.Title"  class="form-control" value="@Model.myReport.Title">
            </div>


	     <span asp-validation-for="myReport.Content" class="text-danger"></span>        
            <div class="mb-3">
              <label asp-for="myReport.Content" class="form-label">News Report</label>
              <textarea asp-for="myReport.Content" class="form-control"  rows="3" value="@Model.myReport.Content"></textarea>
            </div>


	     <span asp-validation-for="myReport.Category" class="text-danger"></span>        
            <div class="mb-3">
                <label asp-for="myReport.Category" class="form-label">Select Category</label>
                <select class="form-control" asp-for="myReport.Category" asp-items="Html.GetEnumSelectList<EditModel.CategoryType>()">
                </select>
            </div>



    	    @if (!Model.myReport.IsPublished) 
	        {
                <div class="mb-3">
                   <label asp-for="@Model.myReport.IsPublished" class="form-label">Publish Now    </label>        
                   <input class="form-check-input" asp-for="@Model.myReport.IsPublished" />
                </div>
    	    }
    	    else
    	    {
    	    	<div class="form-group"><input type="hidden" value="true" asp-for="@Model.myReport.IsPublished"></div>
	   }

            <div class="form-group"><input type="hidden" asp-for="@Model.myReport.Id" class-"form-cotrol" value="@Model.myReport.Id"/></div>


	        <div class="form-group row"><input type="submit" value="Update News Report" class="btn btn-success" /></div>

        </form>
</div>
